<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>


    SOME PRODUCT


    <div th:each="product : ${products}">

        <div>
            <p>
                <b th:text="${product.getTitle()}"></b>
                <div th:text="${product.getPrice()}"></div>
                <a th:href="@{'/product/' + ${product.getId()}}"></a>

            </p>
        </div>

    </div>





</body>
</html>