<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>


    <form th:action="@{'/'}" method="get">
        Searching by name of product:
        <input type="text" name="title"> <br>
        <input type="submit" value="search">
    </form>


    ALL PRODUCTS


    <div th:each="product : ${products}">

        <div>
            <p>
                <b th:text="${product.getTitle()}"></b>
                <div th:text="${product.getPrice()}"></div>
                <a th:href="@{'/product/' + ${product.getId()}}">Details</a>

            </p>
        </div>

    </div>

    <form th:action="@{'/product/create'}" method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title"> <br>
        Desc: <input type="text" name="description"> <br>
        Price: <input type="number" name="price"> <br>
        City: <input type="text" name="city"> <br>
        Name: <input type="text" name="author"> <br>

        First Picture: <input type="file" name="file1"> <br>
        Second Picture: <input type="file" name="file2"> <br>
        Third Picture: <input type="file" name="file3"> <br>



        <input type="submit" value="Add product">

    </form>





</body>
</html>